version: "3.8"

services:
  mysql:
    image: bitnami/mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=openmetadata
      - MYSQL_USER=openmetadata
      - MYSQL_PASSWORD=openmetadata
      - MYSQL_DATABASE=openmetadata_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/bitnami/mysql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.12
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  openmetadata-server:
    image: openmetadata/server:1.2.2
    depends_on:
      - mysql
      - elasticsearch
    environment:
      - OPENMETADATA_DATABASE_HOST=mysql
      - OPENMETADATA_DATABASE_PORT=3306
      - OPENMETADATA_DATABASE_USERNAME=openmetadata
      - OPENMETADATA_DATABASE_PASSWORD=openmetadata
      - OPENMETADATA_DATABASE_DB=openmetadata_db
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=9200
      - AUTHORIZER_CLASS_NAME=org.openmetadata.service.security.DefaultAuthorizer
      - AUTHENTICATION_PROVIDER=basic
    ports:
      - "8585:8585"

  ingestion:
    image: openmetadata/ingestion:1.2.2
    depends_on:
      - openmetadata-server
    environment:
      - AIRFLOW_SVC_ENDPOINT=http://openmetadata-server:8585
      - PIPELINE_SERVICE_CLIENT_HOST=http://openmetadata-server:8585
    command: ["/bin/sh", "-c", "sleep infinity"]

volumes:
  mysql_data:
  es_data:
